:root {
    --bg: #f0f2f5;
    --card: #fff;
    --text: #000;
}

.dark {
    --bg: #18191a;
    --card: #242526;
    --text: #e4e6eb;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial;
    margin: 0;
}

.navbar {
    background: #1877f2;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.feed {
    padding: 15px;
}

.post {
    background: var(--card);
    padding: 15px;
    border-radius: 8px;
}

/* MOBILE */
@media (max-width: 600px) {
    .navbar h2 {
        font-size: 18px;
    }
}
